{% extends "admin/change_list.html" %}
{% load admin_list alphafilter %}
{% block extrastyle %}
{{block.super}}
	<style type="text/css" media="screen">
	.change-list ul.alphabetfilter li {
		display: block;
		float: left;
    	padding: 1%;
        font-size: 15px;
	}
	.change-list ul.alphabetfilter li.first {
		display: block;
		float: left;
    	padding: 1%;
        font-size: 15px;
	}
	.inactive {
		color: #999;
	}
	.selected {
		color: red;
	}
	</style>
{% endblock %}
{% block date_hierarchy %}{% date_hierarchy cl %}{% alphabet cl %}{% endblock %}